
.main-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.user-info{
    margin-left: 50px;

}

.title-user-name{
    color: white;
}

.logout-button {
    position: absolute;
    right: 20px; /* Adjust the distance from the left edge */
    top: -138.5px; /* Adjust the distance from the top edge if needed */
    background-color: #F57A4D;
    color: #862323;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
    width: 120px;
    height: 40px;
}

.logout-button:hover {
    background-color: #D45A35;
}

.upper-part {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 60px;
    background-color: #97D7CB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
}


.logout-button {

    background-color: transparent;
    border: 1px solid #fff;
    padding: 0.5em 1em;
    color: #fff;
    cursor: pointer;
}
.lower-part {
    position: absolute;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    left: 20px;
    top:120px;
}



.lower-part a {
    margin-left: 50px;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    background-color: #13A699;
    color: white;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    width: 240px; /* Approximate pixel value for 3 inches at 80 pixels per inch */
    height: 400px; /* Approximate pixel value for 5 inches at 80 pixels per inch */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Hover effect on links */
.lower-part a:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

