
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
MADR Frontend/node_modules
MADR Frontend/.pnp
MADR Frontend/.pnp.js

# testing
MADR Frontend/coverage

# production
MADR Frontend/build

# misc
MADR Frontend/.DS_Store
MADR Frontend/.env.local
MADR Frontend/.env.development.local
MADR Frontend/.env.test.local
MADR Frontend/.env.production.local

MADR Frontend/npm-debug.log*
MADR Frontend/yarn-debug.log*
MADR Frontend/yarn-error.log*

.idea