
.main-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.user-info{
    margin-left: 50px;

}

.title-user-name{
    color: white;
}


.upper-part {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 60px;
    background-color: #97D7CB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
    z-index: 999;
}


.lower-part {
    position: absolute;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    left: 20px;
    top:120px;
}



.lower-part a {
    margin-left: 50px;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    background-color: #13A699;
    color: white;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    width: 240px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Hover effect on links */
.lower-part a:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-page-search-container {
    font-family: "Google Sans", sans-serif;
    position: absolute;
    margin-left: 900px;
    margin-top: 10px;
    height: 30px;
    width: 500px;
    background: transparent;
}

.main-page-search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    font-family: "Google Sans", sans-serif;
    height: 35px;
    width: 140px;
    left: 530px;
    bottom: 95px;
    border: 2px solid white;
    background: transparent;
}

.main-page-search-btn:hover{
    background: black;
    border: 2px solid black;
    color: white;
}

.main-page-search-results {
    position: relative;
    flex-direction: column;
    margin-left: 720px;
    margin-top: 100px;
    padding: 20px;
    background-color: gray;
    border-radius: 2px;
    color: white;
    z-index: 10000;
    height: auto;
    max-height: 150px;
    width: 640px;
    overflow-y: auto;
}

.search-user-name{
    font-size: 30px;
}

.main-page-search-results::-webkit-scrollbar {
    width: 0; /* Set the width to 0 to hide the scrollbar */
    visibility: hidden; /* Optionally hide scrollbar on Firefox */
}

.main-page-search-results ul {
    list-style-type: none;
    padding: 0;
}


.main-page-follow-unfollow-button{
    background: none;
    font-family: "Google Sans", "sans-serif";
    font-size: 15px;
    border: 2px solid white;
    border-radius: 10px;
    position: relative;
    bottom: 70px;
}

.main-page-feed-button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    font-family: "Google Sans", sans-serif;
    border: 2px solid white;
    border-radius: 10px;
    background: transparent;
    width: 200px;
    height: 35px;;
    left: 300px;
    font-size: 20px;
    font-weight: bold;
}



.main-page-follow-unfollow-button:hover{
    background: black;
    border: 2px solid black;
    color: white;
}

.popup-content-user-details ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.popup-content-user-details ul li {
    margin-bottom: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content p {
    color: black; /* Adjust the text color here */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content p:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}


/* Styles for the drawer toggle button */
.drawer-toggle-btn {
    background-color: transparent;
    border: none;
    color: #333; /* Change color as needed */
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9999;
    outline: none;
}

.drawer-toggle-btn:hover {
    color: #555;
}



/* Adjustments for mobile view */
@media only screen and (max-width: 768px) {
    .upper-part {
        height: auto;
        padding: 1em;
    }

    .lower-part {
        position: relative;
        margin-top: 20px;
        left: auto;
        top: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .lower-part a {
        margin: 10px;
        width: auto;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }

    .main-page-search-container {
        position: relative;
        top: auto;
        left: auto;
        margin: 20px auto;
        width: 90%;
        max-width: 500px;
    }

    .main-page-search-btn {
        position: relative;
        left: auto;
        bottom: auto;
        margin-top: 10px;
        width: 100%;
    }

    .main-page-search-results {
        position: relative;
        top: auto;
        left: auto;
        padding: 20px;
        width: 90%;
        max-width: 500px;
        margin: 20px auto;
        overflow: hidden;
    }
}
