.social-group-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.upper-part {
    width: 100%;
    padding: 20px;
    background-color: #97D7CB; /* Change to desired color */
    position: fixed; /* Fixed positioning to keep it at the top */
    top: 0; /* Align to the top */
    z-index: 999; /* Ensure it's above other elements */
}

.social-group-title {
    margin-left: 50px;
    color: white;
    position: relative;
}

.groups-container {
    font-family: "Google Sans", "sans-serif";
    padding-top: calc(2px + (var(--card-height) * var(--num-cards)));
    margin-bottom: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: calc(290vh - 5px); /* Limit height to viewport height minus header */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Hide horizontal scrollbar if present */
}



.groups-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar in Chrome, Safari, and Opera */
}



.group-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* Adjust spacing between cards */
    margin-bottom: 20px;
}

.group-card {
    background-color: lightcoral; /* Card background color */
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.group-card h3 {
    margin-top: 0;
}

.social-group-home-button {
    font-family: "Google Sans", "sans-serif";
    position: fixed;
    width: 250px;
    bottom: 20px; /* Adjust the distance from the bottom as needed */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: black; /* Button color */
    color: #ffffff; /* Button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.social-group-home-button:hover{
    background: cornflowerblue;
    color: white;
}

